<div class="">
  <div class="row">
    <div class="col">
      <hr class="mt-1 mb-4" />
    </div>
  </div>
  {{#if loggedIn}}
    <form class="row" data-id={{postId}}>
      <div class="col">
        <input
          class="form-control rounded-pill"
          type="text"
          placeholder="Write a comment..."
          aria-label="Comment Input"
        />
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-dark mb-3 post-comment-btn">Post</button>
      </div>
    </form>
  {{/if}}

  <div class="row mt-2">
    <div class="col px-4">
      {{#each comments as |comment|}}
        {{> comment comment userId=../userId}}
      {{/each}}
    </div>
  </div>
</div>
