<div class="container bg-white px-4 py-3 shadow-sm mb-5">
  <div class="row py-2">
    <div class="col">
      <h2 class="h5 fw-bold text-capitalize">Why MVC is so important</h2>
      <p class="subheading mb-0 align-middle text-muted fw-light">
        <h3 class="h6 text-dark">Jane Doe</h3>
        <small>May 23, 2021</small>
        
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ducimus iure tenetur veniam sint provident porro minima itaque,
        quae amet tempore reiciendis? Omnis ex veritatis atque nemo fuga impedit
        libero suscipit? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ducimus iure tenetur veniam sint provident porro minima itaque,
        quae amet tempore reiciendis? Omnis ex veritatis atque nemo fuga impedit
        libero suscipit?</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      

    </div>
    <div class="col text-end">
      <div class="row">
        <div class="col">
          <button
            class="btn btn-link link-dark text-decoration-none border-0 align-middle"
          >
            31 Likes
          </button>
          <button
            class="btn btn-link link-dark text-decoration-none border-0 align-middle"
          >
            10 Comments
          </button>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mb-1 mt-1" />
    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-5 text-center">
      <button class="btn btn-outline-dark border-0 align-middle w-100">
        <span class="far fa-thumbs-up me-1"></span>
        <span>Like</span>
      </button>
    </div>
    <div class="col-5 text-center">
      <button class="btn btn-outline-dark border-0 align-middle w-100">
        <span class="far fa-comment-alt me-1 align-middle"></span>
        <span class="align-top">Comment</span>
      </button>
    </div>
  </div>
  {{> commentsContainer}}

</div>