<div class="row mt-5">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
  <div class="col text-end">
    <a href="/new-post" class="btn btn-outline-dark rounded-pill px-3 py-2 align-middle text-capitalize"><span><i class="fas fa-plus me-2"></i></span>Write a story</a href="/new-post">
  </div>
</div>

<div class="row mt-4">
  {{#each posts as |post|}}
    {{> post userId=../userId post=postData }}
  {{/each}}

</div>
