  <div class="row mt-5">
    <div class="col">
      <h1>Latest Posts</h1>
    </div>
  </div>
  <div class="row mt-4">
  {{#each posts as |post|}}
    {{> post userId=../userId post=postData }}
  {{/each}}
  </div>
