<div class="container d-flex h-100">
  <div class="container align-self-center">
    <div class="row">
      <div class="col col-lg-8 mx-auto bg-white shadow-sm">
        <div class="row mt-5">
          <div class="col mx-auto">
            <h1 class="display-6 text-center">Join Tech Blog.</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 px-0 mx-auto pt-1">
            <h2 class="lead text-center">Enter your details below to continue.</h2>
          </div>
        </div>
        <div class="row mt-4 px-5">
          <form>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                id="usernameInput"
                placeholder="@username"
              />
              <label for="usernameInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                id="emailInput"
                placeholder="name@example.com"
              />
              <label for="emailInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                id="passwordInput"
                placeholder="Password"
              />
              <label for="passwordInput">Password</label>
            </div>
            <div class="text-center mt-5">
              <button
                type="submit"
                class="btn btn-dark w-50 py-3 rounded-pill"
              >Continue</button>
            </div>

          </form>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col text-center">
            <p class="subheading">Already have an account?
              <a
                href="/login"
                class="text-decoration-none fw-bold link-success"
              >Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>